#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skilltitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
}
.skilldesc{
    font-weight: 400;
    font-size: 1.9rem;
    max-width: 50rem;
    padding: 0 2rem;
}
.skillbars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillbar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: rgb(50, 50,50);
}


.skillimg{
    object-fit: cover;
    height: 4rem;
    width: rem;
    margin-right: 2rem;

}

.skillbartext>p{
    font-size: 1rem;
    font-weight: 200;
}

@media screen and (max-width:480px) {
    .skillbartext{
        font-size: 3vw;
    }
    .skillimg{
        height: 2.25rem;
        width: 2.25rem;
    }

    .skillbartext>h2{
        font-size: 5vw;

    }
    
}