#contact{
    height: calc(260vh - 5rem);
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactdesc{
    padding: 1rem;
    font-size: medium;
    /* font-weight: 300; */
}

.contactform{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.cname, .email, .message{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitbtn{
    background: white;
    border-radius: 0.5rem;
    padding: 0.75rem 2.5rem;
    margin: 2rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link{
    margin: 1rem;
    object-fit: cover;
    height: rem;
    width: 3rem;
    justify-content: space-evenly;
}